<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{user.fname}}'s dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Geo&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="./css/style-products.css" />
  <link rel="stylesheet" href="./css/style-footer.css" />
  <link rel="stylesheet" href="./css/style-dashboard.css">

  <link rel="stylesheet" type="text/css" media="screen and (max-width: 1200px)"
    href="./css/style-products_mobile.css" />
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 1200px)" href="./css/style-footer-mobile.css" />
  <script src="https://kit.fontawesome.com/8089f34b28.js" crossorigin="anonymous"></script>
  <style>
    a {
      color: black;
      text-decoration: none;
    }

    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }
  </style>

</head>

<body>



  <header>
    <div class="header-container">
      <div id="logo">
        <a href="index.html"><img src="./img/logo.png" alt="logo"></a>
      </div>
      <!-- <div class="home"><a href="index.html">home</a></div> -->
      <div class="search">
        <form action="./list.html">
          <input type="text" list="city" id="place" placeholder="&#xf3c5; Where would you like to go?"
            style="font-family:Arial, FontAwesome">
          <datalist id="city">
            <option value="Toronto"></option>
            <option value="Markham"></option>
            <option value="North York"></option>
            <option value="Scarborough"></option>
          </datalist>
          <input onfocus="(this.type='date')" onblur="(this.type='text')" name="arrive" id="arrive"
            placeholder="&#xf271; Arrive" style="font-family:Arial, FontAwesome">
          <input onfocus="(this.type='date')" onblur="(this.type='text')" name="depart" id="depart"
            placeholder="&#xf272; Depart" style="font-family:Arial, FontAwesome">
          <input type="text" name="guests" id="guests" placeholder="&#xf0c0; Guests"
            style="font-family:Arial, FontAwesome">
          <input id="title-sub" type="submit" value="&#xf002; search" style="font-family:Arial, FontAwesome">
        </form>
      </div>
      <div class="all_select"><a href="./list.html">see ALL</a></div>
    </div>
  </header>

  <div class="main">


    <div class="separate">
      <h1>Dear Member</h1>
      <div class="sub_separate">
        <p>Welcome to your personal dashboard</p>
      </div>
    </div>

    <nav class="filter">
      <div id="info" onclick="info()">Profile</div>
      <div id="book">Booking</div>
      <div id="host">Hosting</div>
    </nav>



    <div id="content">
      <div class="welcom">
        <p>Welcome <strong style="text-transform: capitalize;">{{user.fname}}</strong>!</p>
      </div>
    </div>
    {{#if booking}}
    <table class="memberTable">
        <tr>
          <th>Username</th>
          <th>CheckIn Time</th>
          <th>CheckOut Time</th>
          <th>Address</th>
          <th>Price</th>
        </tr>
        {{#each booking}}
        <tr>
          <td>{{username}}</td>
          <td>{{checkin}}</td>
          <td>{{checkout}}</td>
          <td>{{address}}, {{postal}}</td>
          <td>{{price}}</td>
          {{/each}}
        </tr>
      </table>
      {{/if}}
      <div id="logout">
        <a href="/logout">Log out</a>
      </div>
  </div>



  <footer>
    <div class="footer-container">
      <div class="f_header">
        <img id="logo" src="./img/logo.png" alt="logo">
      </div>
      <div class="f_cCare">
        <p>CUSTOMER CARE</p>
        <ul>
          <li>Login/Register</li>
          <li>Customer support</li>
          <li>Find store</li>
          <li>Shipping and return</li>
          <li>Contact us</li>
          <li>Covid-19 FAQ</li>
        </ul>
      </div>

      <div class="f_policie">
        <p>POLICIES</p>
        <ul>
          <li>Privacy Policy</li>
          <li>Cookie Policy</li>
          <li>Accessibility</li>
          <li>Policies and terms</li>
        </ul>
      </div>

      <div class="f_company">
        <p>OUR COMPANY</p>
        <ul>
          <li>Become a Retailer</li>
          <li>Corporate</li>
          <li>Investors</li>
          <li>Careers</li>
        </ul>
      </div>

      <div class="post">
        <form id="post-sub" action="https://formspree.io/mwkrzoer" method="post">
          <img src="./img/mail-icon.svg" alt="">
          <figcaption>STAY IN TOUCH</figcaption>
          <p>Sign up for our newsletter to receive customized product news,<br> updates and special invites.</p>
          <input type="email" name="sub-email" id="sub-email" placeholder="Email">
          <input id="sub" type="submit" value="Subscribe">
          <a href="register.html">Register for more information</a>
        </form>
      </div>
    </div>

    <div class="link">
      <p>Find us:</p>
      <input type="image" name="facebook" src="./img/facebook.svg"
        onclick="window.location.href='https://www.facebook.com'" alt="facebook">
      <input type="image" name="twitter" src="./img/twitter.svg" onclick="window.location.href='https://twitter.com/'"
        alt="twitter">
      <input type="image" name="youtube" src="./img/youtube.svg" onclick="window.location.href='https://youtube.com'"
        alt="youtube">
      <input type="image" name="instagram" src="./img/instagram.svg"
        onclick="window.location.href='https://www.instagram.com/'" alt="instagram">
    </div>

  </footer>
  <div class="copyright">
    <p>Copyright © 2020 WEB322. YuhuanZhou</p>
  </div>

</body>

<script>
  window.onload = function(){
    info();
  }

  function info() {

    var nav = document.getElementById("info");
    nav.style.borderBottom = "none";
    nav.style.boxShadow = "0px -8px 7px 0px rgba(0, 0, 0, 0.2)";

    var content = document.getElementById("content");
    content.innerHTML = "";


    var profile = document.createElement('div');
    profile.className = "profile";
    var title = document.createElement('div');
    title.id = "title"
    var subTitle = document.createElement('p');
    subTitle.innerHTML = "Personal Info:";
    var info = document.createElement('div');
    info.className = "info";



    content.appendChild(profile);
    profile.appendChild(title);
    title.appendChild(subTitle);

    profile.appendChild(info);

    var row1 = document.createElement('div');
    var property1 = document.createElement('span');
    var value1 = document.createElement('span');
    property1.id = "property";
    property1.innerHTML = "First Name: ";
    value1.innerHTML = "{{user.fname}}";

    info.appendChild(row1);
    row1.appendChild(property1);
    row1.appendChild(value1)

    var row2 = document.createElement('div');
    var property2 = document.createElement('span');
    var value2 = document.createElement('span');
    property2.id = "property";
    property2.innerHTML = "Last Name: ";
    value2.innerHTML = "{{user.lname}}";

    info.appendChild(row2);
    row2.appendChild(property2);
    row2.appendChild(value2);

    var row3 = document.createElement('div');
    var property3 = document.createElement('span');
    var value3 = document.createElement('span');
    property3.id = "property";
    property3.innerHTML = "Email: ";
    value3.innerHTML = "{{user.email}}";

    info.appendChild(row3);
    row3.appendChild(property3);
    row3.appendChild(value3);

    var row4 = document.createElement('div');
    var property4 = document.createElement('span');
    var value4 = document.createElement('span');
    property4.id = "property";
    property4.innerHTML = "Phone Number: ";
    value4.innerHTML = "{{user.phone}}";

    info.appendChild(row4);
    row4.appendChild(property4);
    row4.appendChild(value4);

    var row5 = document.createElement('div');
    var property5 = document.createElement('span');
    var value5 = document.createElement('span');
    property5.id = "property";
    property5.innerHTML = "Address: ";
    value5.innerHTML = "{{user.address}}";

    info.appendChild(row5);
    row5.appendChild(property5);
    row5.appendChild(value5);

    var row6 = document.createElement('div');
    var property6 = document.createElement('span');
    var value6 = document.createElement('span');
    property6.id = "property";
    property6.innerHTML = "Postal Code: ";
    value6.innerHTML = "{{user.postal}}";

    info.appendChild(row6);
    row6.appendChild(property6);
    row6.appendChild(value6);

  }
</script>

</html>